body{
  background-color: cyan;
}
#select-genre{
  background-color: blueviolet;
}

#genre-label{
  color: crimson;
}

#movieList{
  color: crimson;
  background-color: blueviolet;
  caret-color: blueviolet;
  solid-color: blueviolet;
  text-decoration-color: crimson;
  border-block-color: crimson;
  accent-color: crimson;
  border-color: blueviolet;
  column-rule-color: blue;

}
